body {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin: 0;
	background: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input#text-field {
	font-size: 60px;
	order: 1;
	text-align: center;
	width: 100px;
	background: black;
	border: 1px solid white;
	color: white;
	margin-top: 15px;
}

input#text-field:focus {
	border: 1px solid blue;
}

.alarm {
	position: absolute;
	top: -10px;
	left: 20%;
	display: none;
	color: white;
}

.alarm img {
	max-width: 90px;
	transform: rotateX(180deg);
}
